ULA.Quijano.ProcesoLegal/Service References/CustomerCentricWS/CustomerCentric.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.1.6.153/ClienteCentrico/CustomerCentric.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CustomerInquiryMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerInquiryMessage" nillable="true" type="tns:CustomerInquiryMessage" />
  <xs:complexType name="PersonalCustomerMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="addressLine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="addressVerbalRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthDate" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="birthDateDay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="birthDateMonth" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="birthDateYear" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="branch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="building" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="businessCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="businessCodeDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="businessType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="businessTypeDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="celularPhoneNum" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="channelType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="channelTypeDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="classification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="classificationDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="classificationForm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clientClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clientStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clientType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="companyAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="companyCharges" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="companyInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="companyRuc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="companyType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contractType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="correg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="corregDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countryDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countryOfBirth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countryOfBirthDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="currentIncome" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="currentJEntryDate" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="currentJEntryDay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="currentJEntryMonth" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="currentJEntryYear" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="customerNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="customerType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerTypeSel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dataSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="debitCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dependents" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="discountCompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="discountCompanyDsc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="discountCompanyName" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="distrit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="distritDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="educationLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="educationLevelDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="educationalExpenses" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="employeeNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="employmentTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="familiarRelationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="faxNumber" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="firstContactDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstContactDateDay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="firstContactDateMont" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="firstContactDateYear" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="firstLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="floorLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fuente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="groupNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="houseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="housePhoneNum" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="idContraloria1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idContraloria2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idContraloria3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCountry4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCountryDesc4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idNumber4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idType4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTypeDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTypeDesc4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="incomeLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="incomeSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="incomeSourceDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="incomeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="indicador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="industryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="industryCodeDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="initialCapital" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="inquiryLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="legalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="legalStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lenguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="longIdCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="longIdNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="longIdTypeDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mailingCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mailingCodeDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mainOfficer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mainOfficerDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="marriedName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="municipality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="municipalityDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nacionalityDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="netPatrimony" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="officeNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="officePhoneNum" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="otherExpenses" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="otherIncome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="otherIncomeSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parish" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parishDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="patrimonyDateDay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="patrimonyDateMonth" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="patrimonyDateYear" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="payDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="poBox" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="positionDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="previousJEndDay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="previousJEndMonth" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="previousJEndYear" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="previousJEntryDate" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="previousJEntryDay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="previousJEntryMonth" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="previousJEntryYear" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="previsionTable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="previusJEntryDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="profession" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="professionDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="propertyType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="provinceDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="referBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="referByDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="referByName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="relation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="relationDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="relationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rentAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="residencyCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="residencyCountryDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resident" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="riskLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="riskLevelDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="salesChannel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="salesChannelDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="secondIdCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="secondIdCountryDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="secondIdNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="secondIdType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="secondIdTypeDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="secondLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="secondName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="secondOfficer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="secondOfficerDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shortIdCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shortIdNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shortIdType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="socialSecurityNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="specialInstructions" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="taxes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="thirdIdCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="thirdIdCountryDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="thirdIdNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="thirdIdType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="thirdIdTypeDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userCode6Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonalCustomerMessage" nillable="true" type="tns:PersonalCustomerMessage" />
</xs:schema>