ULA.Quijano.ProcesoLegal/Service References/CustomerCentricWS/CustomerCentric2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.Banesco.com" elementFormDefault="qualified" targetNamespace="http://www.Banesco.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.1.6.153/ClienteCentrico/CustomerCentric.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="personalCustomerInquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="objCIM" nillable="true" type="q1:CustomerInquiryMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="personalCustomerInquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="personalCustomerInquiryResult" nillable="true" type="q2:PersonalCustomerMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewPersonalClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="objPCM" nillable="true" type="q3:PersonalCustomerMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewPersonalClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="NewPersonalClientResult" nillable="true" type="q4:PersonalCustomerMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>