ULA.Quijano.ProcesoLegal/Service References/CustomerCentricWS/CustomerCentric.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.Banesco.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.Banesco.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.Banesco.com/Imports">
      <xsd:import schemaLocation="http://10.1.6.153/ClienteCentrico/CustomerCentric.svc?xsd=xsd0" namespace="http://www.Banesco.com" />
      <xsd:import schemaLocation="http://10.1.6.153/ClienteCentrico/CustomerCentric.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.1.6.153/ClienteCentrico/CustomerCentric.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
      <xsd:import schemaLocation="http://10.1.6.153/ClienteCentrico/CustomerCentric.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerCentric_personalCustomerInquiry_InputMessage">
    <wsdl:part name="parameters" element="tns:personalCustomerInquiry" />
  </wsdl:message>
  <wsdl:message name="ICustomerCentric_personalCustomerInquiry_OutputMessage">
    <wsdl:part name="parameters" element="tns:personalCustomerInquiryResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerCentric_NewPersonalClient_InputMessage">
    <wsdl:part name="parameters" element="tns:NewPersonalClient" />
  </wsdl:message>
  <wsdl:message name="ICustomerCentric_NewPersonalClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewPersonalClientResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerCentric">
    <wsdl:operation name="personalCustomerInquiry">
      <wsdl:input wsaw:Action="http://www.Banesco.com/ICustomerCentric/personalCustomerInquiry" message="tns:ICustomerCentric_personalCustomerInquiry_InputMessage" />
      <wsdl:output wsaw:Action="http://www.Banesco.com/ICustomerCentric/personalCustomerInquiryResponse" message="tns:ICustomerCentric_personalCustomerInquiry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewPersonalClient">
      <wsdl:input wsaw:Action="http://www.Banesco.com/ICustomerCentric/NewPersonalClient" message="tns:ICustomerCentric_NewPersonalClient_InputMessage" />
      <wsdl:output wsaw:Action="http://www.Banesco.com/ICustomerCentric/NewPersonalClientResponse" message="tns:ICustomerCentric_NewPersonalClient_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>