ULA.Quijano.ProcesoLegal/Service References/UltimusIntegrationLayer/UltimusIntegrationLayer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UltimusIntegrationLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UltimusIntegrationLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UltimusIncident">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Incident" type="xs:int" />
      <xs:element minOccurs="0" name="JobFunction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Memo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="Process" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="Step" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubStatus" type="xs:int" />
      <xs:element minOccurs="0" name="Summary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Supervisor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupervisorFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" type="xs:int" />
      <xs:element minOccurs="0" name="XmlData" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UltimusIncident" nillable="true" type="tns:UltimusIncident" />
  <xs:complexType name="ArrayOfNodeVariables">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NodeVariables" nillable="true" type="tns:NodeVariables" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNodeVariables" nillable="true" type="tns:ArrayOfNodeVariables" />
  <xs:complexType name="NodeVariables">
    <xs:sequence>
      <xs:element minOccurs="0" name="NodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeValue" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NodeVariables" nillable="true" type="tns:NodeVariables" />
</xs:schema>