ULA.Quijano.Internet/Service References/Mensajeria/WcfMensajeria1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ULA.Quijano.SendMails/WcfMensajeria.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ULA.Quijano.SendMails" />
  <xs:element name="GetServicioByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="incidenteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicioByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ULA.Quijano.SendMails" minOccurs="0" name="GetServicioByIDResult" nillable="true" type="q1:Servicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstadoServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="incidenteID" type="xs:int" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comentariosResolucion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaSeguimiento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstadoServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarEstadoServicioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstadoSolicitud">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstadoSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ULA.Quijano.SendMails" minOccurs="0" name="GetEstadoSolicitudResult" nillable="true" type="q2:ArrayOfEstadoSolicitud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>