ULA.Quijano.Internet/Service References/AttachmentService/AttachmentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AttachmentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.100.22/AttachmentService/AttachmentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.100.22/AttachmentService/AttachmentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.100.22/AttachmentService/AttachmentService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAttachmentService_UploadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="IAttachmentService_UploadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IAttachmentService_GetFileList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileList" />
  </wsdl:message>
  <wsdl:message name="IAttachmentService_GetFileList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileListResponse" />
  </wsdl:message>
  <wsdl:message name="IAttachmentService_GetFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFile" />
  </wsdl:message>
  <wsdl:message name="IAttachmentService_GetFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileResponse" />
  </wsdl:message>
  <wsdl:message name="IAttachmentService_DeleteFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="IAttachmentService_DeleteFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="IAttachmentService_MoveFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveFiles" />
  </wsdl:message>
  <wsdl:message name="IAttachmentService_MoveFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IAttachmentService_DeleteFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFiles" />
  </wsdl:message>
  <wsdl:message name="IAttachmentService_DeleteFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFilesResponse" />
  </wsdl:message>
  <wsdl:portType name="IAttachmentService">
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IAttachmentService/UploadFile" message="tns:IAttachmentService_UploadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAttachmentService/UploadFileResponse" message="tns:IAttachmentService_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <wsdl:input wsaw:Action="http://tempuri.org/IAttachmentService/GetFileList" message="tns:IAttachmentService_GetFileList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAttachmentService/GetFileListResponse" message="tns:IAttachmentService_GetFileList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IAttachmentService/GetFile" message="tns:IAttachmentService_GetFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAttachmentService/GetFileResponse" message="tns:IAttachmentService_GetFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IAttachmentService/DeleteFile" message="tns:IAttachmentService_DeleteFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAttachmentService/DeleteFileResponse" message="tns:IAttachmentService_DeleteFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IAttachmentService/MoveFiles" message="tns:IAttachmentService_MoveFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAttachmentService/MoveFilesResponse" message="tns:IAttachmentService_MoveFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IAttachmentService/DeleteFiles" message="tns:IAttachmentService_DeleteFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAttachmentService/DeleteFilesResponse" message="tns:IAttachmentService_DeleteFiles_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAttachmentService" type="tns:IAttachmentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IAttachmentService/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <soap:operation soapAction="http://tempuri.org/IAttachmentService/GetFileList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <soap:operation soapAction="http://tempuri.org/IAttachmentService/GetFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/IAttachmentService/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveFiles">
      <soap:operation soapAction="http://tempuri.org/IAttachmentService/MoveFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFiles">
      <soap:operation soapAction="http://tempuri.org/IAttachmentService/DeleteFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AttachmentService">
    <wsdl:port name="BasicHttpBinding_IAttachmentService" binding="tns:BasicHttpBinding_IAttachmentService">
      <soap:address location="http://192.168.100.22/AttachmentService/AttachmentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>